<div class="nav">
    <a href="/">
        <h1>{{ page.title | default: site.title }}</h1>
    </a>
<nav id="sitenav">
	<details>
		<summary>Menü</summary>
		<ul>
			<li><a href="/">Home</a>
			<li>
				<details>
					<summary>Kochen</summary>
					<ul>
						<li><a href="kochen.html">Nudeln</a></li>
						<li><a href="">Kartoffeln</a></li>
						<li><a href="">Reis</a></li>
						<li><a href="">Fleisch</a></li>
					</ul>
				</details>
			<li>
				<details>
					<summary>Backen</summary>
					<ul>
						<li><a href="">Obst</a></li>
						<li><a href="">Schokolade</a></li>
					</ul>
				</details>
			<li><a href="">Impressum</a></li>
		</ul>
	</details>
</nav>
</div>
